
.hero-wrap{
    background-image: url(https://www.polepalsolarlightingsystem.com/content/images/products/20130516_173242.jpg);
    background-position: 0px -200px;
    background-repeat: no-repeat;
    background-size: cover;
}
